<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Estacionamiento</title>
  <script src="js/socket.io.js"></script>
  <script src="js/myScript.js"></script>
</head>
<body>
  <h1>My App</h1>
  <div id="Place1" style="color:gray">Desconocido</div>

</body>
</html>